h1 {
    font-weight: bold;
    background: khaki;
    color: firebrick;
}

img {
    width: 400px;
    height: auto;
}

div {
    text-align: center;
    background-color: khaki;
}
ul,
ol { 
    list-style-type: square;
    list-style-position:inside;
    margin-left: auto;
    margin-right: auto;
 }

 body {
     background-color: khaki;
 }